<mat-toolbar color="primary" class="mat-elevation-z8">
    <button routerLink="/home" mat-icon-button>
        <mat-icon>lunch_dining</mat-icon>
    </button>
    <span>Foodie Go</span>
    <span class="spacer"></span>
    <button routerLink="/home" mat-button>
        <mat-icon>home</mat-icon>
        Home
    </button>
    <button mat-button>
        <mat-icon>shopping_cart</mat-icon>
        Cart
    </button>
    <button mat-raised-button color="warn">
        <mat-icon>lock_open</mat-icon>
        Logout
    </button>
</mat-toolbar>