<div class="container">
    <div class="pic">
        <img [src]="imgsrc" alt="image">
    </div>
    <div class="content">
        <div class="title">
            <h1>{{product_title}}</h1>
        </div>
        <div class="stars">
            <div class="star-rating"
                [ngClass]="{'empty-star-rating': rating < 1}">
            </div>
            <div class="star-rating"
                [ngClass]="{'empty-star-rating': rating < 2}">
            </div>
            <div class="star-rating"
                [ngClass]="{'empty-star-rating': rating < 3}">
            </div>
            <div class="star-rating"
                [ngClass]="{'empty-star-rating': rating < 4}">
            </div>
            <div class="star-rating"
                [ngClass]="{'empty-star-rating': rating < 5}">
            </div>
            <!-- <span style="font-size: 1rem;"> ({{ product.productRating | number: '1.1-1' }})</span>-->
        </div>
        <h2>Description:</h2>
        <p>{{desc}}</p>
        <button mat-raised-button color="primary" [disabled]="!selectedValue" (click)="onSubmit()">Give Rating</button>
        <mat-form-field id="drop">
            <mat-select placeholder="Select a value" [(ngModel)]="selectedValue" name="selectedValue" required>
              <mat-option *ngFor="let option of dropdownOptions" [value]="option">{{ option }}</mat-option>
            </mat-select>
        </mat-form-field>
        <div class="posrev">
            <mat-form-field id="text">
                <input matInput type="text" placeholder="enter your review" [(ngModel)]="enteredText" name="enteredText" required/>
            </mat-form-field>
            <button mat-raised-button color="primary" [disabled]="!enteredText" (click)="onaction()">Post Review</button>
        </div>
        <h2>Reviews</h2>
        <div class="review-card" *ngFor="let rev of revs">
            <h3 class="user-name">{{rev.userid}}</h3>
            <div class="stars-1">
                <div class="star-rating-1"
                    [ngClass]="{'empty-star-rating': [rev.rate] < [1]}">
                </div>
                <div class="star-rating-1"
                    [ngClass]="{'empty-star-rating': [rev.rate] < [2]}">
                </div>
                <div class="star-rating-1"
                    [ngClass]="{'empty-star-rating': [rev.rate] < [3]}">
                </div>
                <div class="star-rating-1"
                    [ngClass]="{'empty-star-rating': [rev.rate] < [4]}">
                </div>
                <div class="star-rating-1"
                    [ngClass]="{'empty-star-rating': [rev.rate] < [5]}">
                </div>
                <!-- <span style="font-size: 1rem;"> ({{ product.productRating | number: '1.1-1' }})</span>-->
            </div>
            <p class="review-text">
              {{rev.revdesc}}
            </p>
        </div>
    </div>
</div>
