.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}
  
.example-full-width {
    width: 100%;
}

.foodies {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin: 50px;
    justify-content: center;
}

.example-card {
    padding: 10px;
    max-width: 300px;
}

.example-card img {
    width: 100%;
    height: 200px;
}

.cont {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
}

.centered {
    text-align: center;
}

.banner img {
    width: 100%;
}

footer {
    background-color: darkblue;
    color: white;
    padding: 20px;
  }

  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-logo {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .footer-links {
    margin-bottom: 10px;
  }

  .footer-links a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
  }

  .footer-social {
    margin-bottom: 10px;
  }

  .footer-social a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
  }

  .footer-legal {
    font-size: 12px;
    border-top: 1px solid white;
    padding-top: 10px;
  }

  .footer-address {
    margin-bottom: 10px;
  }
  .footer-address li {
    list-style: none;
  }