.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}
  
.example-full-width {
    width: 100%;
}

.foodies {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin: 50px;
}

.example-card {
    max-width: 400px;
}

.example-card img {
    width: 100%;
    height: 200px;
}